.profile__person {
    margin: 0 10px 14px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    width: 189px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .profile__person {
        margin: 0 18px 16px 0;
        font-size: 42px;
        line-height: 48px;
        width: 294px;
        text-align: start;
    }
}