.popup__submit {
    width: 238px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 2px;
    border-color: #000;
    opacity: 1;
    align-items: center;
    padding: 14px 0 14px 0;
    margin-top: 15px;
}

.popup__submit:hover {
    opacity: 0.8;
}

.popup__submit:focus {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .popup__submit {
        font-size: 18px;
        line-height: 22px;
        width: 358px;
        padding-bottom: 18px;
        margin-top: 18px;
    }
}